*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	/* padding: 1rem 0; */
	/* display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem; */
}

#root {
	height: 100%;
}

.grid {
	padding-inline: 20px;
	display: grid;
	grid-template-columns: 25rem 1fr;
	grid-template-rows: [test-start] 2fr [test-end] 1fr;
	grid-template-rows: 1fr [test-start] 2fr [test-end] 1fr;
	gap: 0.5rem;
	/* background: yellow; */
	height: 100%;
}

.shape-inputs {
	display: grid;
	grid-row: test;
	grid-row: 1 / -1;
	align-content: start;
	overflow-y: scroll;
	gap: 0.5rem;
	padding: 0.5rem;
}

.shape-input {
	display: grid;
	padding: 0.5rem;
	border: 1px solid green;
	gap: 0.5rem;

	.children {
		display: grid;
		gap: 0.5rem;

		border-left: 1px solid yellow;
		padding-block: 0.5rem 1rem;
		padding-left: 1rem;

		.shape-input {
			border-color: yellow;
		}
	}
}

.input-wrapper {
	--width: 100px;
	--gap: 0.5rem;
	display: flex;
	justify-content: space-between;
	> select {
		text-align: center;
		padding-block: 0.125em;
		width: calc(2 * var(--width) + var(--gap));
	}
	> input[type='number'] {
		text-align: right;
		width: calc(2 * var(--width) + var(--gap));
	}
}

.vector2-input {
	display: inline-flex;
	gap: var(--gap);
	input {
		width: var(--width);
		text-align: right;
	}
}

.canvas-wrapper {
	grid-row: test;
	background: #222;
	width: 100%;
	height: 100%;
	border: 3px dashed #bbb;
	padding: 5px;
}
canvas {
	display: block;
	width: 100%;
	height: 100%;
}
