*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	/* padding: 1rem 0; */
	/* display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem; */
}

#root {
	border: 5px solid red;
	/* display: none; */
	min-height: 100%;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
	border: 3px dashed white;
	/* padding: 5px; */
}
